body{
    background: #222831;
    font-family: 'Poppins', sans-serif;
}

.contenitore {
    text-align: center;
    background:#EEEEEE;    
    width: 40%;
    min-width: 300px;
    margin-left: 30%;
    padding-bottom: 30px;
    border-radius: 20px;
}

.contenitore h1{
    margin: 0;
}

#titolo{
    color: #00ADB5;
    font-size:  2.5rem;
}

#filmInSala{
    height:680px;
}

#filmInSala p{
    margin: 5px auto;
}

#filmInSala h1{
    font-size: 1.8rem;
    
}

.contenitore button{
    width: 10rem;
    height: 2.5rem;
    background: #00ADB5;
    color: #EEEEEE;
    border: 1px solid #222831;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size:  1rem;
    cursor: pointer;
}

.contenitore button:hover{
    color: #00ADB5;
    background: #222831;
    border: 1px solid #00ADB5;
}



